{% extends 'base.html.twig' %}

{% block title %}Vehicule{% endblock %}

{% block body %}
    <h1>Vehicule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdVehicule</th>
                <td>{{ vehicule.idVehicule }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ vehicule.marque }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ vehicule.modele }}</td>
            </tr>
            <tr>
                <th>Immatriculation</th>
                <td>{{ vehicule.immatriculation }}</td>
            </tr>
            <tr>
                <th>Disponibilite</th>
                <td>{{ vehicule.disponibilite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vehicule_index') }}">back to list</a>

    <a href="{{ path('app_vehicule_edit', {'idVehicule': vehicule.idVehicule}) }}">edit</a>

    {{ include('vehicule/_delete_form.html.twig') }}
{% endblock %}
