
<style>
    /* Style pour la boîte de confirmation de suppression */
    
    .delete-confirm-box {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 750px;
        max-width: 90%;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0,0,0,.2);
        z-index: 9999;
    }
    .delete-confirm-box h2 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 20px;
        text-align: center;
    }
    .delete-confirm-box p {
        margin-bottom: 20px;
        font-size: 16px;
        text-align: center;
    }
    .delete-confirm-box .btn-group {
        display: flex;
        justify-content: center;
    }
    .delete-confirm-box .btn-group button {
        margin: 0 10px;
        display: inline-block;
        padding: 12px 24px;
        border-radius: 30px;
        background-color: #E8A803;
        color: #fff;
        text-decoration: none;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        font-size: 16px;
        line-height: 1;
        border: none;
        cursor: pointer;
    }
    .delete-confirm-box img {
        display: block;
        margin: 0 auto;
        width: 150px;
    }
</style>



{# Modifier le formulaire de suppression #}
<form id="delete-form-{{ produit.idProd }}" method="post" action="{{ path('app_produit_delete', {'idProd': produit.idProd}) }}" style="display: none;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.idProd) }}">
</form>
<button type="button" onclick="confirmDelete('{{ produit.idProd }}')" style="background:none; border:none; padding:0;"><img src="{{ asset('back/img/traverser.png') }}" alt="Supprimer le produit" style="width: 20px; height: 20px;"></button>

<script>
    function confirmDelete(id) {
        var confirmBox = document.createElement('div');
        confirmBox.classList.add('delete-confirm-box');
        confirmBox.innerHTML = `
            <img src="/back/img/logo.png" alt="logo">
            <h2>Confirmation de suppression</h2>
            <p>Êtes-vous sûr(e) de vouloir supprimer cet élément ?</p>
            <div class="btn-group">
                <button type="submit" class="btn" onclick="document.getElementById('delete-form-${id}').submit()">Oui</button>
                <button type="button" class="btn" onclick="closeConfirmBox()">Non</button>
            </div>
        `;
        document.body.appendChild(confirmBox);
        return false;
    }
    function closeConfirmBox() {
        var confirmBox = document.querySelector('.delete-confirm-box');
        if (confirmBox) {
            confirmBox.remove();
        }
    }
</script>