{% extends 'base.html.twig' %}

{% block title %}Transport{% endblock %}

{% block body %}


 <style>
	table {
  border-collapse: collapse;
  border: 2px solid orange;
  border-radius: 5px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 16px;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: grey;
  color: #fff;
  border-right: 2px solid orange;
  border-bottom: 2px solid orange;
}

td {
  background-color: grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid orange;
}

tr:last-child td {
  border-bottom: none;
}

td:last-child, th:last-child {
  border-right: none;
}


/* Pour le lien */
.link-as-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: orange;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

/* Effet hover */
.link-as-button:hover {
  background-color: #0062cc;
  color: #fff;
}
 

</style>


    <h1>Transport</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdTransport</th>
                <td>{{ transport.idTransport }}</td>
            </tr>
            <tr>
                <th>TypeTransport</th>
                <td>{{ transport.typeTransport }}</td>
            </tr>
            <tr>
                <th>DateDepart</th>
                <td>{{ transport.dateDepart ? transport.dateDepart|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>HeureDepart</th>
                <td>{{ transport.heureDepart ? transport.heureDepart|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>LieuDepart</th>
                <td>{{ transport.lieuDepart }}</td>
            </tr>
            <tr>
                <th>LieuArriver</th>
                <td>{{ transport.lieuArriver }}</td>
            </tr>
            <tr>
                <th>PrixTransport</th>
                <td>{{ transport.prixTransport }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_transport_index') }}" class="link-as-button">back to list</a>

    <a href="{{ path('app_transport_edit', {'idTransport': transport.idTransport}) }}" class="link-as-button">edit</a>
<br><br>
    {{ include('transport/_delete_form.html.twig') }}
{% endblock %}
