{% extends 'base.html.twig' %}

{% block title %}Reservation2{% endblock %}

{% block body %}
    <h1>Reservation2</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Numres</th>
                <td>{{ reservation2.numres }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ reservation2.iduser }}</td>
            </tr>
            <tr>
                <th>Nbplaces</th>
                <td>{{ reservation2.nbplaces }}</td>
            </tr>
            <tr>
                <th>NomEvent</th>
                <td>{{ reservation2.nomEvent }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ reservation2.datedebut ? reservation2.datedebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ reservation2.lieu }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation2_index') }}">back to list</a>

    <a href="{{ path('app_reservation2_edit', {'numres': reservation2.numres}) }}">edit</a>

    {{ include('reservation2/_delete_form.html.twig') }}
{% endblock %}
