{% extends 'base.html.twig' %}

{% block title %}CategorieProd{% endblock %}

{% block body %}
    <h1>CategorieProd</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdCatProd</th>
                <td>{{ categorie_prod.idCatProd }}</td>
            </tr>
            <tr>
                <th>CatProd</th>
                <td>{{ categorie_prod.catProd }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categorie_prod_index') }}">back to list</a>

    <a href="{{ path('app_categorie_prod_edit', {'idCatProd': categorie_prod.idCatProd}) }}">edit</a>

    {{ include('categorie_prod/_delete_form.html.twig') }}
{% endblock %}
